{erl_opts, [
            debug_info,
            inline_list_funcs,
            warn_deprecated_function,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_untyped_record,
            warn_unused_function,
            warn_unused_import,
            warnings_as_errors
           ]}.

{xref_checks, [
               undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions
              ]}.

{deps, [
        {jobs, {git, "git@github.com:esl/jobs.git", {ref, "6800e98e4e"}}},
        {recon, {git, "git@github.com:ferd/recon.git", {ref, "5b1519f9587"}}},
        {exometer_core, {git, "git@github.com:Feuerlabs/exometer_core.git", {ref, "f7034be4"}}},
        {jiffy, {git, "git@github.com:davisp/jiffy.git", {ref, "801f9e729"}}}
       ]}.

{relx, [{release, {'robot_utopia', "0.1.0"},
         [robot_utopia,
          recon,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
