[
 {'robot_utopia', []},

 {exometer_core,
  [
   {predefined,
    [
     {[erlang, memory], {function, erlang, memory, [], value,
                         [total, processes, ets, binary, atom, atom_used]},
      []},
     {[erlang, statistics], {function, erlang, statistics, ['$dp'], value,
                             [run_queue]},
      []},
     {[erlang, system_info], {function, erlang, system_info, ['$dp'], value,
                              [port_count, port_limit, process_count, process_limit]},
      []}
    ]
   },

   {report,
    [
     {subscribers,
      [
       {exometer_report_tty, [erlang,memory], total, 2000, true},
       {exometer_report_tty, [erlang,memory], processes, 2000, true},
       {exometer_report_tty, [erlang,memory], ets, 2000, true},
       {exometer_report_tty, [erlang,memory], binary, 2000, true},
       {exometer_report_tty, [erlang,memory], atom, 2000, true},
       {exometer_report_tty, [erlang,memory], atom_used, 2000, true},
       {exometer_report_tty, [erlang,statistics], run_queue, 2000, true},
       {exometer_report_tty, [erlang,system_info], port_count, 2000, true},
       {exometer_report_tty, [erlang,system_info], port_limit, 2000, true},
       {exometer_report_tty, [erlang,system_info], process_count, 2000, true},
       {exometer_report_tty, [erlang,system_info], process_limit, 2000, true}
      ]}
    ]}
  ]
 }
].
